.parentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.contentDiv {
  margin: 2rem auto;
  border-radius: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.upload-detail-header {
  margin-bottom: 1rem;
  border-bottom: 1px solid #d3d7d9;
}

h1 {
  text-align: center;
  font-size: 1.8rem;
  width: 100%;
  color: rgba(35, 83, 160, 0.8);
  font-weight: 600;
  margin: 0;
}

label {
  font-size: 0.8em;
  margin-bottom: 0.25em;
  color: rgba(35, 83, 160, 0.8);
  font-weight: lighter;
}

.required {
  color: #b73326;
  font-size: 0.6rem;
}

input {
  font-size: 12px;
  padding: 10px 10px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #cfcfcf;
}

input:focus,
input:hover {
  outline: none !important;
  border-color: rgb(100, 160, 255);
  box-shadow: 0 0 10px rgb(100, 160, 255);
}

select {
  font-size: 12px;
  padding: 10px 10px;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

.grayColor {
  color: #999;
}

select:focus,
select:hover {
  outline: none !important;
  border-color: rgb(100, 160, 255);
  box-shadow: 0 0 10px rgb(100, 160, 255);
}

select:disabled {
  cursor: no-drop;
  opacity: 1;
}

select:disabled:hover {
  border: 1px solid #cfcfcf;
  box-shadow: none;
}

select option {
  color: rgb(75, 74, 74);
}

input.error {
  border: 1px solid red;
}

select.error {
  border: 1px solid red;
}

.errorMessage {
  color: red;
  font-size: 0.75em;
  display: relative;
}

.buttonDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin: 0.5rem 2rem 0 2rem; */
}

.buttonStyle {
  width: 40%;
  margin-top: 1rem;
  border-radius: 5px;
  padding: 10px 10px;
  font-size: 0.8rem;
  font-weight: lighter;
  letter-spacing: 1px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.buttonStyle:hover {
  transform: scale(1.01);
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  cursor: pointer;
}

.buttonStyle.submit {
  border: none;
  background-color: rgb(100, 160, 255);
  margin-left: 0.5rem;
  color: #fff;
}

.buttonStyle.close {
  border: 1px solid rgb(100, 160, 255);
  background-color: #fff;
  margin-right: 0.5rem;
  color: rgb(100, 160, 255);
}
