.admin-table-container {
  width: 100%;
  /* display: flex;
  flex-direction: column; */
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.admin-rowview {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.admin-pageTitle {
  text-align: center;
  font-size: 1.6rem;
  margin: 0.8rem 0;
  letter-spacing: 2px;
  color: rgba(35, 83, 160, 0.8);
}

.admin-employer-header {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.6rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.admin-employer-header .admin-pageTitle {
  font-size: 1.6rem;
  margin: 0.8rem 0;
  margin-left: auto;
  letter-spacing: 2px;
  color: rgba(35, 83, 160, 0.8);
}

.admin-employer-header .addNewButton {
  margin-left: auto;
  margin-right: 1rem;
}

.admin-backButton {
  border-radius: 5px;
  padding: 8px 15px;
  font-size: 0.8rem;
  font-weight: lighter;
  letter-spacing: 1px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  border: 1px solid rgb(100, 160, 255);
  background-color: #fff;
  color: rgb(100, 160, 255);
}

.admin-backButton:hover {
  transform: scale(1.01);
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  cursor: pointer;
}

/* Table Styles */
.admin-table-wrapper {
  max-width: 90%;
  margin: auto;
  overflow-x: auto;
  margin-top: 2rem;
  box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.3);
}

.admin-fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.admin-fl-table td,
.admin-fl-table th {
  text-align: center;
  padding: 12px 10px;
}

.admin-fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.admin-fl-table thead th {
  color: #ffffff;
  background: #4fc3a1;
}

.admin-fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.admin-fl-table tr:nth-child(even) {
  background: #f8f8f8;
}

.addNewButton {
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 0.8rem;
  font-weight: lighter;
  letter-spacing: 1px;
  box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  border: none;
  background-color: rgb(100, 160, 255);
  color: #fff;
}

.addNewButton:hover {
  transform: scale(1.01);
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  cursor: pointer;
}

/* Responsive */

@media (max-width: 767px) {
  .admin-fl-table {
    display: block;
    width: 100%;
  }
  .admin-table-wrapper:before {
    content: 'Scroll horizontally >';
    display: block;
    text-align: right;
    font-size: 11px;
    color: rgba(35, 83, 160, 0.8);
    padding: 0 0 10px;
  }
  .admin-fl-table thead,
  .admin-fl-table tbody,
  .admin-fl-table thead th {
    display: block;
  }
  .admin-fl-table thead th:last-child {
    border-bottom: none;
  }
  .admin-fl-table thead {
    float: left;
  }
  .admin-fl-table tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  .admin-fl-table td,
  .admin-fl-table th {
    padding: 20px 0.625em 0.625em 0.625em;
    height: 60px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  .admin-fl-table thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  .admin-fl-table tbody tr {
    display: table-cell;
  }
  .admin-fl-table tbody tr:nth-child(odd) {
    background: none;
  }
  .admin-fl-table tr:nth-child(even) {
    background: transparent;
  }
  .admin-fl-table tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }
  .admin-fl-table tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  .admin-fl-table tbody td {
    display: block;
    text-align: center;
  }
}
